.class3 {
  padding: 40px;
}

/* body {
  font-size: 2.5rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Helvetica Neue", Arial, sans-serif;
} */

.list {
  font-size: 2.5rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Helvetica Neue", Arial, sans-serif;
  list-style-type: none;
  display: flex;
  padding: 0;
}

.list>li {
  margin-right: 1rem;
}

.class3b {
  padding: 40px;

}

/* @keyframes turn{
  0%{-webkit-transform:rotate(0deg);}
  100%{-webkit-transform:rotate(360deg);}
} */
.list2 {
  width: 500px;
  height: 500px;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  list-style: none;
  /* transform: rotate(45deg); */

}
